#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c176bd8e-2789-4bd7-a9f6-961e01ddf52d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}