#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ccdc57-a4c2-4ccd-955c-a5f060775156 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}